regex==2024.9.11
spacy==3.7.5
pandas==2.2.2
streamlit
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0.tar.gz
openpyxl==3.1.5
io
xlsxwriter==3.2.0